@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(211, 205, 205);
}

/* Home */
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1200px;
  margin: 20px auto;
  border: none;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Date Picker */
.datePicker {
  margin: 20px 0;
}

.datePicker label {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.datePicker input {
  padding: 5px;
  background-color: rgb(253, 251, 251);
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
  border: 1px solid rgb(219, 215, 215);
}

/* Apod */
.apod {
  overflow: hidden;
}

.titleCopyright {
  margin-bottom: 20px;
}

.titleCopyright p {
  font-weight: 300;
}

img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.titleDate {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.titleDate > p {
  font-size: 15px;
}

h3 {
  margin-right: 10px;
}

.apod p:last-child {
  text-align: justify;
}

.bottomLike {
  display: flex;
  align-items: center;
}

.like {
  display: flex;
  justify-content: center;
  width: 50px;
  border: 1px solid rgb(211, 207, 207);
  padding: 6px 30px;
  margin-top: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
}

.likeIcon {
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  main {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  h3 {
    margin-right: 5px;
  }

  img {
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .datePicker label {
    font-size: 18px;
  }

  .titleCopyright p {
    font-size: 18px;
  }

  img {
    height: 400px;
  }

  .titleDate {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }

  img {
    height: 300px;
  }

  .titleDate > p {
    font-size: 10px;
  }

  .apod p:last-child {
    font-size: 15px;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 15px;
  }

  img {
    height: 250px;
  }

  .titleDate > p {
    font-size: 8px;
  }

  .apod p:last-child {
    font-size: 15px;
  }
}
